 html  body {
    font: 11pt Arial, Helvetica, sans-serif;
     background-color: #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
 }
 h1 {
    font-size: 36px;
    margin: 0;
    color: #fc6;
 }
 h2 {
      margin-top: 0;
 }
 #footer a{
		color:#000;
		 text-decoration:none;
 }
 #footer :hover a{
		 color:#eee;
 }
